# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://toiumenwhyomwceyzyrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRvaXVtZW53aHlvbXdjZXl6eXJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDg5NTIzMzIsImV4cCI6MjA2NDUyODMzMn0.HZKA7aRJKq_Nyh2-tWgXU0thIpylfKdtbJQOn8uKUyc
